<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright (c) 2026 Matterward Labs Private Limited.

This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at https://mozilla.org/MPL/2.0/.
-->

<!-- Test-only authority for the exact-byte private-share platform test. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <application>
    <provider
        android:name="androidx.core.content.FileProvider"
        android:authorities="${applicationId}.FileProvider"
        android:exported="false"
        android:grantUriPermissions="true">
      <meta-data
          android:name="android.support.FILE_PROVIDER_PATHS"
          android:resource="@xml/taffy_test_file_paths" />
    </provider>
  </application>
</manifest>
